n8n-skills/workflow-node-renamer.json
{
  "name": "Workflow Node Renamer",
  "nodes": [
    {
      "parameters": {},
      "id": "01234567-89ab-cdef-0123-456789abcdef",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get workflow ID from input or set manually\nconst workflowId = $input.item.json.workflowId || 'YOUR_WORKFLOW_ID';\n\nreturn {\n  json: {\n    workflowId: workflowId\n  }\n};"
      },
      "id": "12345678-89ab-cdef-0123-456789abcdef",
      "name": "Set Workflow ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "={{ $env.WEBHOOK_URL }}/api/v1/workflows/{{ $json.workflowId }}",
        "options": {}
      },
      "id": "23456789-89ab-cdef-0123-456789abcdef",
      "name": "Get Workflow Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract all nodes from the workflow\nconst workflow = $input.item.json;\nconst nodes = workflow.nodes || [];\n\n// Create a list of nodes with their current names and types\nconst nodesList = nodes.map((node, index) => ({\n  index: index,\n  id: node.id,\n  currentName: node.name,\n  type: node.type,\n  typeVersion: node.typeVersion,\n  parameters: JSON.stringify(node.parameters).substring(0, 200) // First 200 chars for context\n}));\n\nreturn {\n  json: {\n    workflowName: workflow.name,\n    totalNodes: nodes.length,\n    nodes: nodesList\n  }\n};"
      },
      "id": "34567890-89ab-cdef-0123-456789abcdef",
      "name": "Extract Node Information",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare prompt for AI agent\nconst workflowName = $json.workflowName;\nconst nodes = $json.nodes;\n\n// Create a structured list for the AI\nconst nodeDescriptions = nodes.map(node => \n  `${node.index + 1}. Current: \"${node.currentName}\" | Type: ${node.type} | Config: ${node.parameters}`\n).join('\\n');\n\nconst prompt = `You are helping rename nodes in an N8N workflow called \"${workflowName}\" to make them more descriptive and clear.\n\nHere are the ${nodes.length} nodes in the workflow:\n\n${nodeDescriptions}\n\nFor each node, suggest a more descriptive and meaningful name that:\n1. Clearly describes what the node does based on its type and configuration\n2. Is concise (2-6 words ideal)\n3. Uses title case\n4. Helps users understand the workflow flow at a glance\n\nRespond in JSON format as an array of objects with this structure:\n[\n  {\n    \"index\": 0,\n    \"currentName\": \"original name\",\n    \"suggestedName\": \"Better Descriptive Name\",\n    \"reason\": \"Brief explanation of why this name is better\"\n  }\n]\n\nOnly suggest a new name if it would be significantly more descriptive than the current name.`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    workflowName: workflowName,\n    nodeCount: nodes.length\n  }\n};"
      },
      "id": "45678901-89ab-cdef-0123-456789abcdef",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        },
        "requestOptions": {}
      },
      "id": "56789012-89ab-cdef-0123-456789abcdef",
      "name": "AI Agent - Generate Names",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and format output\nconst aiResponse = $json.message?.content || $json.text || JSON.stringify($json);\n\nlet suggestions;\ntry {\n  // Try to extract JSON from the response\n  const jsonMatch = aiResponse.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    suggestions = JSON.parse(jsonMatch[0]);\n  } else {\n    suggestions = JSON.parse(aiResponse);\n  }\n} catch (error) {\n  return {\n    json: {\n      error: 'Failed to parse AI response',\n      rawResponse: aiResponse\n    }\n  };\n}\n\nreturn {\n  json: {\n    workflowName: $('Build AI Prompt').item.json.workflowName,\n    totalSuggestions: suggestions.length,\n    suggestions: suggestions,\n    summary: suggestions.map(s => \n      `\"${s.currentName}\" → \"${s.suggestedName}\"`\n    ).join('\\n')\n  }\n};"
      },
      "id": "67890123-89ab-cdef-0123-456789abcdef",
      "name": "Parse AI Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
              "name": "workflowName",
              "value": "={{ $json.workflowName }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
              "name": "totalSuggestions",
              "value": "={{ $json.totalSuggestions }}",
              "type": "number"
            },
            {
              "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
              "name": "suggestions",
              "value": "={{ $json.suggestions }}",
              "type": "array"
            },
            {
              "id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "78901234-89ab-cdef-0123-456789abcdef",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1650, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Workflow ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow ID": {
      "main": [
        [
          {
            "node": "Get Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Data": {
      "main": [
        [
          {
            "node": "Extract Node Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Node Information": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "AI Agent - Generate Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Names": {
      "main": [
        [
          {
            "node": "Parse AI Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Suggestions": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "instanceId": "00000000000000000000000000000000"
  },
  "id": "00000000-0000-0000-0000-000000000000",
  "tags": []
}
